body{
  background-color: rgb(26, 26, 26);
  box-sizing: border-box;
}

.header-text{
  text-align: center;
  line-height: 10px;
}

.header-text > h1 {
  padding-top: 20px;
}

.header-text > h2 {
  color: darkred;
  font-size: 15px;
}

.header-text > h3 {
  color: aliceblue;
  font-size: 10px;
}

.background-box{
  color: white;
  background-color: black;
  width: 275px;
  height: 30rem;
  margin: 0px 0px 0px 114px;
  padding-left: 15px;
  border-radius: 5%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.header-head-shot{
  width: 18rem;
  margin: 50px 0px -25px 115px;
  border-radius: 5%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.header-buttons {
  display: flex;
  justify-content: center;
}

.email{
  margin: 5px;
}

.envelope{
  width: 11px;
  margin-right: 5px;
  margin-bottom: -1px;
}

.linkedin{
  margin: 5px;
}

.linkedin-logo{
  width: 10px;
  margin-right: 5px;

}

/* ------------------------------------- */

